.fxs_two-cols-stripe-bg {
  margin: 0;
  background-color: #f3f3f8;
  float: left;
  width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  .fxs_two-cols-stripe-bg {
    margin: 100px 0 0 0;
    position: relative;
    padding: 1rem;
  }
}
.fxs_two-cols-stripe-bg > .fxs_row {
  margin: 0;
  position: relative;
  padding: 0;
}
@media (min-width: 1024px) {
  .fxs_two-cols-stripe-bg > .fxs_row {
    margin: 0 auto;
    max-width: 1033px;
    padding: 1.5rem 1.5rem;
  }
}
@media (min-width: 1580px) {
  .fxs_two-cols-stripe-bg > .fxs_row {
    max-width: 1280px;
    margin: auto;
  }
}
.fxs_two-cols-stripe-bg .fxs_col_50 {
  padding: 2rem;
}
.fxs_two-cols-stripe-bg .fxs_col_50:last-of-type {
  background-color: white;
  margin: 0;
  float: left;
  width: 100%;
}
@media (min-width: 1024px) {
  .fxs_two-cols-stripe-bg .fxs_col_50:last-of-type {
    float: none;
    max-width: 550px;
    margin-top: -75px;
    margin-bottom: 100px;
    padding: 3rem;
    position: absolute;
    border: 1px solid #dddedf;
  }
}

.fxs_two-cols-stripe-bg .fxs_onboarding_info {
  padding: 0;
}
.fxs_poster .fxs_back,
.fxs_two-cols-stripe-bg .fxs_back {
  line-height: 28px;
  text-decoration: underline;
  position: relative;
  margin-left: 1.2rem;
}
.fxs_back .fas {
  position: absolute;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
}
.fxs_two-cols-stripe-bg .fxs_onboarding_info .fxs_list_unstyled {
  margin-top: 2rem;
}
.fxs_poster .fxs_list_unstyled li,
.fxs_two-cols-stripe-bg .fxs_onboarding_info .fxs_list_unstyled li {
  margin-bottom: 1rem;
}
.fxs_poster .fxs_list_unstyled .fas,
.fxs_two-cols-stripe-bg .fxs_onboarding_info .fxs_list_unstyled .fas {
  color: #338473;
  padding-right: 5px;
}
.fxs_onboarding_content .fxs_btn {
  margin: 0 auto;
  display: block;
}
.fxs_onboarding_content .fa-exclamation-triangle {
  font-size: 13px;
}
.fxs_onboarding_content .fxs_error_message .fa-exclamation-triangle {
  font-size: 11px;
}
.fxs_btn-google-signup {
  background-color: #4285f4;
  border: none;
  -webkit-box-shadow: -1px 1px 2px 0px rgba(140, 141, 145, 1);
  -moz-box-shadow: -1px 1px 2px 0px rgba(140, 141, 145, 1);
  box-shadow: -1px 1px 2px 0px rgba(140, 141, 145, 1);
  margin: 0 auto;
  width: 100%;
  font-size: 19px;
  padding: 15px 31px 11px 75px;
  position: relative;
  color: #fff;
  font-weight: 500;
  display: block;
}
.fxs_btn-google-signup:before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #fff;
  z-index: 0;
  width: 47px;
  background-image: url("https://developers.google.com/identity/images/g-logo.png");
  background-repeat: no-repeat;
  background-position: 11px 11px;
  background-size: 25px;
}
.fxs_btn-google-signup:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  color: #8c8d91;
}
.fxs_btn-google-signup span {
  bottom: 2px;
  display: block;
  position: relative;
}
.fxs_btn_large {
  padding: 10px;
  font-size: 17.5px;
}
.fxs_formGroup label .fxs_signup_custom_small {
  font-weight: 400;
}
.fxs_entryPlain_txt_large.fxs_signup-subtitle {
  font-weight: 400;
}
.fxs_detail_user .fxs_user_form,
.fxs_detail_user .fxs_confirm_signup {
  padding: 0;
  border: none;
}
.fxs_poster .fa-eye-slash,
.fxs_detail_user .fa-eye-slash {
  color: #8c8d91;
}
.fxs_detail_user .fxs_user_form .fxs_formGroup .fxs_group_link {
  font-size: 0.8rem;
  position: relative;
  float: left;
  font-weight: 700;
}
.fxs_detail_user
  .fxs_user_form
  .fxs_formGroup
  .fxs_group_link.fxs_forgotPassword {
  line-height: 2rem;
}
.fxs_detail_user
  .fxs_user_form
  .fxs_formGroup
  .fxs_group_link.fxs_group_link_login,
.fxs_detail_user
  .fxs_user_form
  .fxs_formGroup
  .fxs_group_link.fxs_group_link_signup {
  color: #e4871b;
  margin-left: 0.2rem;
}
.fxs_error_message {
  font-size: 0.8rem;
  line-height: 2rem;
}
.fxs_detail_user .fxs_user_form .fxs_fieldset,
.fxs_detail_user .fxs_confirm_signup .fxs_fieldset {
  margin-bottom: 0;
  padding-bottom: 0;
}
.fxs_poster {
  margin-top: 40px;
  margin-bottom: 100px;
  max-width: 600px;
}
@media(min-width:1024px){
    .fxs_poster{
        border: 1px solid #a3a3a8;
        padding:3rem;
    }
}
.fxs_poster.fxs_big-poster {
  max-width: 1100px;
}
.fxs_poster.fxs_poster-medium {
  max-width: 800px;
}
/* flex.less (modify original and remove after done)*/
@supports (display: flex) or (display: -webkit-flex) or (display: -webkit-box)
  or (display: -moz-box) or (display: -ms-flexbox) {
  [class*="fxs_flexbox"] {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  [class*="justify_evently"] {
    -webkit-box-pack: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
  }
  [class*="justify_end"] {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  [class*="justify_center"] {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  [class*="justify_between"] {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  [class*="justify_around"] {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  [class*="content_start"] {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  [class*="content_end"] {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  [class*="content_center"] {
    -webkit-align-content: flex-center;
    -ms-flex-line-pack: flex-center;
    align-content: flex-center;
  }
  [class*="content_between"] {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  [class*="content_around"] {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  [class*="items_start"] {
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  [class*="items_end"] {
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  [class*="items_center"] {
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  [class*="items_baseline"] {
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  [class*="self_auto"] {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  [class*="self_start"] {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  [class*="self_end"] {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  [class*="self_center"] {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  [class*="self_baseline"] {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
  [class*="direction_row_reverse"] {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  [class*="direction_column"] {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  [class*="direction_column_reverse"] {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  [class*="wrap"] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  [class*="wrap_reverse"] {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .fxs_col_80 {
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
  }
  .fxs_col_75 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
  }
  .fxs_col_67 {
    -webkit-flex-basis: 67%;
    flex-basis: 67%;
  }
  .fxs_col_50 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
  .fxs_col_33 {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
  .fxs_col_25 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
  }
  .fxs_col_20 {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
}
input.fxs_input_error {
  border: 1px solid #d25746;
}
.fxs_formGroup {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 1rem;
  top: 2.3rem;
}
.fxs_error_message {
  color: #d25746;
  font-size: 0.8rem;
  line-height: 2rem;
}
.fxs_two-cols-stripe-bg .fxs_onboarding_content .fxs_formGroup label,
.fxs_two-cols-stripe-bg .fxs_onboarding_content .fxs_formGroup a {
  font-size: 0.8rem;
}
.fxs_user-premium-modal-content {
  padding: 2rem;
  background-color: white;
}
@media (min-width: 680px) {
  .fxs_user_premium_modal .fxs_modal_content {
    width: 580px;
  }
}
.fxs_col_50 {
  width: 100%;
  display: block;
}

@media (min-width: 1024px) {
  .fxs_col_50 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    float: left;
  }
}

.fxs_payment-process-steps-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fxs_payment-process-steps {
  display: flex;
  justify-content: center;
  width: 300px;
}
.fxs_payment-process-steps .fxs_step {
  flex: 1 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fxs_payment-process-steps .fxs_step-number-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fxs_payment-process-steps .fxs_step-number {
  border: 2px solid #517db5;
  border-radius: 100%;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: calc(2rem - 4px);
  position: relative;
  background-color: white;
  color: #517db5;
  z-index: 2;
  box-sizing: border-box;
  font-weight: 700;
}
.fxs_payment-process-steps .fxs_step.fxs_step-active .fxs_step-number {
  background-color: #304c70;
  color: white;
  border-color: #304c70;
}
.fxs_payment-process-steps
  .fxs_step.fxs_step-second
  .fxs_step-number-wrapper:after,
.fxs_payment-process-steps
  .fxs_step.fxs_step-third
  .fxs_step-number-wrapper:after {
  content: "";
  border-top: 2px solid;
  border-color: #99b2d3;
  width: 100%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  height: 0;
  z-index: 1;
}
.fxs_payment-process-steps
  .fxs_step.fxs_step-active
  .fxs_step-number-wrapper:after {
  border-color: #304c70;
}
.fxs_payment-process-steps .fxs_step-name {
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #517db5;
  font-size: 0.8rem;
}
.fxs_payment-process-steps .fxs_step.fxs_step-active .fxs_step-name {
  color: #304c70;
}
.fxs_textInput.error {
  border: 1px solid #d25746;
}

.fxs_chip-checkbox {
  border: 1px solid #dddedf;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  flex: 1 1;
  margin-right: 3vw;
  margin-bottom: 1rem;
  min-width: 250px;
  cursor: pointer;
  font-weight: 400;
}
.fxs_chip-checkbox .fas {
  font-size: 1rem;
  color: white;
  background-color: #304c70;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  flex: 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .fxs_chip-checkbox .fas {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    flex: 0 0 3rem;
    margin-left: 0;
  }
}
.fxs_chip-checkbox .fxs_newsletter-name {
  white-space: nowrap;
  line-height: 2rem;
  padding: 0 0.5rem;
  font-weight: 900;
}
.fxs_chip-checkbox .fxs_avatar_circleImage_m {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 4vw;
}
@media (min-width: 768px) {
  .fxs_chip-checkbox .fxs_newsletter-name {
    line-height: 3rem;
  }
  .fxs_chip-checkbox .fxs_avatar_circleImage_m {
    flex: 0 0 55px;
    width: 55px;
    height: 55px;
    margin-left: 0;
  }
}
.fxs_chip-checkbox .fxs_contributorBox {
  display: flex;
}

.fxs_chip-checkbox .fxs_article_author {
  padding-left: 0.5rem;
}
.fxs_chip-checkbox .fxs_article_author .fxs_headline_small{
    line-height: 1rem;
}

.fxs_chip-checkbox .fxs_article_author .fxs_author_description span{
    white-space: nowrap;
}
input[type="checkbox"]:checked + .fxs_chip-checkbox {
  background-color: #dddedf;
}
.fxs_left-mobile-center,
.fxs_right-mobile-center {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}
@media (min-width: 1024px) {
  .fxs_right-mobile-center {
    float: right;
    width: auto;
    text-align: left;
  }
  .fxs_left-mobile-center {
    float: left;
    width: auto;
    text-align: left;
  }
}
.fxs_txt-underline {
  text-transform: uppercase;
}

.fxs_headline_from_small_to_medium {
  font-size: 1.1rem;
  line-height: 1.3rem;
}
@media (min-width: 680px) {
  .fxs_headline_from_small_to_medium {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
